.container {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 70%;
  height: 50px;
  margin: 1em auto;
  border-radius: 10px;
  font-size: 3em;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.pages li {
  font-size: 3rem;
  padding: 5px;
  margin: 0 20px;
  color: black;
}
.pages li:hover {
  transform: scale(1.2);
}
.pages li a {
  color: rgb(93, 197, 145);
  font-size: 3rem;
}
.account {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(93, 197, 145);
  font-size: 3rem;
}
.account li:hover {
  transform: scale(1.2);
}
.account li a {
  color: rgb(93, 197, 145);
  margin-right: 25px;
}
.container a {
  text-decoration: none;
}
.active {
  background-color: rgb(39, 36, 36);
  font-size: 3rem;
  border-radius: 20px;
  text-decoration: underline;
}
.active li {
  color: red;
}
.username {
  font-size: 3rem;
  margin-right: 3rem;
  font-style: italic;
}
.logo{
  height:110px;
  width: 110px;;
  border-radius: 50px;;
  float:right; 
}
